.checkbox-grid li {
  display: block;
  float: left;
  width: 50%;
  /*border-style: dotted;*/
}

.checkbox-grid {
  margin-bottom: 15px;
}

.loading-symbol {
  margin: 50px 0px 0px 25px;
}

#checkBox-submit {
  /*background-color: grey;*/
  margin-top: 10px;
}
