.App {
  background:#efefef;
  height:100%;
  margin:50px;
  padding:45px;
}

.App-title {
  font-size:40px;
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-style: solid;
  border-color: #313131;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-note {
  color: #ED4337;
  margin-left:40px;
}
